    @font-face {
        font-family: "myFont";
        src: url("../font/font.ttf");
        text-decoration: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .nav {
        font-size: 2rem;
        border-bottom: 0.05rem solid black;
    }
    
    body {
        font-family: "myFont";
        font-size: 1.5rem;
        color: rgb(255, 94, 0);
    }
    
    li {
        display: inline-flex;
        padding: 1.5% 10% 0 10%;
        color: black;
    }
    
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .closebtn:hover {
        color: black;
    }
    
    #Join {
        position: absolute;
        top: 20%;
        margin: 0 50%;
        /* background: url(../images/backgroundJoin.jpg) no-repeat;
        background-size: cover; */
        width: 18%;
        height: 65%;
        text-align: center;
        font-size: 1.8rem;
    }
    
    #Conect {
        position: absolute;
        top: 20%;
        margin: 0 20%;
        /* background: url(../images/backgrounds.jpg) no-repeat;
        background-size: cover; */
        width: 18%;
        height: 65%;
        text-align: center;
        font-size: 1.8rem;
    }
    
    .alert {
        top: 20%;
        margin: 0 25%;
        display: none;
        position: absolute;
        background-color: rgb(255, 94, 0);
        width: 45%;
        height: 25%;
        text-align: center;
        font-size: 2rem;
        color: white;
    }
    
    .alertUnConect,
    .alertERRORJoin,
    .alertConect,
    .alertUnJoin,
    .alertJoin {
        visibility: hidden;
        top: 20%;
        margin: 0 25%;
        position: absolute;
        background-color: red;
        width: 45%;
        height: 25%;
        text-align: center;
        font-size: 4rem;
        color: white;
    }
    
    .winner {
        visibility: hidden;
        height: 80%;
        position: absolute;
        top: 10%;
        background-color: crimson;
        color: darkgray !important;
        font-size: 2rem !important;
        margin: 0 5%;
        text-align: center;
    }