nav ul li {
	display: inline-block;
	margin: 20px 0 0 50px;
	padding: 0 0 30px 0 ;
    width: auto;

    
}
nav{
    border-bottom: 2px solid black;
}
nav ul li a {
	color: #000000;
	font-family: 'Fb Rotem', 'Heebo Thin';
	font-size: 35px;
	font-weight: normal;
	line-height: 14px;
margin-right: 50px;
	padding: 0 ;
    width: auto;
    text-decoration: none;
    letter-spacing:normal;
    flex:1;
}


nav ul li a:hover {
	color: rgb(252 ,65 ,111);
}
body{

    background:url("image/picture.jpg") no-repeat ;
    background-size: cover;
    background-attachment: fixed;
  
}
 footer{
    margin-top: -40px;
         
    } 


img{
    float: left;
    padding: 0 0 0 50px;
}



    main {
        letter-spacing: 1.5px;
        line-height: 1.6;
        color: white;
        font-family: 'Fb Rotem', 'Heebo Thin';
        font-size: 40px;
            text-align: center;
        background-color: rgb(252 ,65 ,111,0.8);
        margin: 0 25% 0 25%;
        padding: 3% 3% 3% 3%;
    }


div h1{
    background-color: rgba(0, 0, 0);
    margin: 0 0 0 0;
    letter-spacing: 2.5px; 
    line-height: 1.8;  
    padding:20px 0 15px 0;
   color: white;
   font-family: 'Fb Rotem', 'Heebo Thin';
    font-size: 25px;
    background-color: rgba(0, 0, 0);
    padding: 40px  0 40px 40px;
    text-align:center;
    bottom: 0%;
    }
ul{
    display:flex;
} 
a{
  
}
@media screen and (max-width:480px){
    nav ul li a{
        font-size: 15px;

    }
}
@media screen and (man-width:800px){
    nav ul li a{
        font-size: 20px;
    }
}
@media screen and (min-width:1024px){
    nav ul li a{
        font-size: 35px;
    }
}
