body{
  color: whitesmoke;
  font-size: 18px;
font-family: 'Fb Basis' ,serif;

}
img{
 
  float: right;
 
}
figure{
  font-size:30px;
}
h2{
color: salmon;
    margin-right:250px;

 
}

#img{
position: fixed; 
top: 0px;
left: 0px;
height:100% ;
width: 100%;
z-index:-999;
opacity: 85%;
    margin-right:250px;
}
.picR1{
  border:7px solid rgb(248, 160, 150);
    margin-right:250px;
}
.picR2{
  border:7px solid salmon;
   margin-right:250px;
}
.picR3{
  border:7px solid rgb(255, 85, 66);
    margin-right:250px;

}
table{
  border-collapse: collapse;
    margin-right:250px;
  
  }
  table th{
    text-align: right;
      background-color: salmon;
      color: rgb(114, 137, 101);
      padding: 4px;
  }

  table td{
   border:2px solid black;
          padding:4px ;
   
    }
    li , a{
      font-size: 20px;
      position:fixed;
      margin-right:-200px;
    }
