body{
  color: whitesmoke;
  font-size: 18px;
font-family: 'Fb Basis' ,serif;
}
img{
 
  float: left;
 
}
h2{
color: salmon;

 
}

#img{
position: fixed; 
top: 0px;
left: 0px;
height:100% ;
width: 100%;
z-index:-999;
opacity: 85%;
}
.picR1{
  border:7px solid rgb(248, 160, 150);
}
.picR2{
  border:7px solid salmon;
 
}
.picR3{
  border:7px solid rgb(255, 85, 66);

}
table{
  border-collapse: collapse;
  
  }
  table th{
    text-align: right;
      background-color: salmon;
      color: rgb(114, 137, 101);
      padding: 4px;
  }

  table td{
   border:2px solid black;
          padding:4px ;
   
    }
    a{
      font-size: 20px;
    }