body{
    font-size: 60px;
    margin-right: 170px;
    margin-top: 170px;
    color: whitesmoke;
    font-size: 35px;
  font-family: "MFWGad" ,"Calibri";
  margin-right:150px;
}

  form,button {
    text-align: center;
      
    margin:20px ;
    font-size:35px;
     }
     legend{
       color:salmon;
       font-size: 45px;
     }
     form{
      
       padding-left: 10px ; 
     }
     #img{
        position: fixed; 
        top: 0px;
        left: 0px;
        height:100% ;
        width: 100%;
        z-index:-999;
        opacity: 85%;
        }